@model CRUD_TASK.Models.Home

<h3>Details</h3>

<div class="card" style="width:50%">
	<p class="card-text"><strong>Name:</strong>@Model.Name</p>
	<p class="card-text"><strong>Gender:</strong>@Model.Gender</p>
	<p class="card-text"><strong>DOB:</strong>@Model.DOB</p>
	<p class="card-text"><strong>Email Id:</strong>@Model.Email Id</p>
	<p class="card-text"><strong>Mobile:</strong>@Model.Mobile</p>
	<p class="card-text"><Strong>Department:</Strong>@Model.Department</p>

	<a href="/Home/Read" class="btn btn-primary">Back</a>
</div>
</div>